	{{#if user}}
	<h3>{{user.name}}</h3>
	{{/if}}
<h2>Posters</h2>
<div class="myinfo">
<table id="list2"></table>
<div id="pager2"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/free-jqgrid/4.8.0/css/ui.jqgrid.css">
<script src="//cdn.jsdelivr.net/free-jqgrid/4.8.0/js/i18n/grid.locale-es.js"></script>
<script src="//cdn.jsdelivr.net/free-jqgrid/4.8.0/js/jquery.jqgrid.min.js"></script>
<script>
jQuery("#list2").jqGrid({
  url:'/api/v1/poster/jqgrid',
	datatype: "json",
   	colNames:['Reg No','Para', 'Orden', 'Media Id','Nombre','Tipo','Tamaño','Ancho','Altura','Tipo Dato', 'Dato','UserId','User Name','Time'],
   	colModel:[
   		{name:'id',index:'id', width:50},
   		{name:'to',index:'to', align:"right", width:50},
   		{name:'order',index:'order', align:"right", width:40},
   		{name:'mediaid',index:'mediaid', width:50, align:"right"},
   		{name:'name',index:'name', width:155},
   		{name:'type',index:'type', width:70},
   		{name:'size',index:'size', sortable:false, width:50, align:"right"},
   		{name:'width',index:'width', sortable:false, width:55, align:"right"},
   		{name:'height',index:'height', sortable:false, width:50, align:"right"},
   		{name:'data_type',index:'data_type', sortable:false, width:50, align:"right"},
   		{name:'data',index:'data', sortable:false, width:255},
   		{name:'userid',index:'userid', sortable:false, width:50, align:"right"},
   		{name:'username',index:'username', sortable:false, width:50, align:"right"},
   		{name:'time',index:'time', sortable:false, width:50, align:"right"},
   	],
		mtype:'POST',
   	rowNum:24,
   	rowList:[12,24,48,96],
   	pager: '#pager2',
   	sortname: 'id',
    viewrecords: true,
    sortorder: "asc",
    caption:"JSON Example",
		loadComplete: function (data) {
			console.log(data);
		}
});
jQuery("#list2").jqGrid('navGrid','#pager2',{view:true,edit:false,add:false,del:false});
</script>
