<h2>Presion</h2>
<table id="list2"></table>
<div id="pager2"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/free-jqgrid/4.8.0/css/ui.jqgrid.css">
<script src="//cdn.jsdelivr.net/free-jqgrid/4.8.0/js/i18n/grid.locale-es.js"></script>
<script src="//cdn.jsdelivr.net/free-jqgrid/4.8.0/js/jquery.jqgrid.min.js"></script>
<script>
jQuery("#list2").jqGrid({
  url:'/api/jqgrid/v1/presion',
	datatype: "json",
   	colNames:['Reg No','Fecha', 'Alta', 'Baja','Pulsos','Detalle','UserId'],
   	colModel:[
   		{name:'id',index:'id', width:55},
   		{name:'fecha',index:'fecha', width:150},
   		{name:'alta',index:'name asc, invdate', align:"right", width:55},
   		{name:'baja',index:'baja', width:55, align:"right"},
   		{name:'pulso',index:'pulso', width:55, align:"right"},		
   		{name:'description',index:'description', width:200},		
   		{name:'userid',index:'userid', sortable:false, width:55}		
   	],
   	rowNum:10,
   	rowList:[10,20,30],
   	pager: '#pager2',
   	sortname: 'id',
    viewrecords: true,
    sortorder: "desc",
    caption:"JSON Example",
		loadComplete: function (data) {
			console.log(data);
		}
});
jQuery("#list2").jqGrid('navGrid','#pager2',{edit:false,add:false,del:false});
</script>
