@import 'partials/variables';
.algo {
	color: $primary-color;
}
.algo-mas{
	background-color: $secondary-color;
}
.mas-algo {
	display: block;
}
.b-media-content{
	height: 198px;
	max-height: 198px;
	border: 1px solid orange;
	padding: 2px 2px 2px 2px;
	margin: 2px 2px 2px 2px;
}
.b-media-item{
	overflow: hidden;
	height: 100%;
	width: auto;
	padding: 2px 2px 2px;
}